/* Importing typefaces */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Slab:wght@400;500;600&display=swap");

/* Wildcard selector to override default browser styling */
* {
  padding: 0;
  margin: 0;
}

/* Setting default styling */
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  /* Generic project styles */
  font-family: "Roboto", Verdana, sans-serif;
  background-color: #faf9f6;
  color: #00205d;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #37456e;
}
/* flex allowing main section to take all available space, pushing footer down */
main {
  flex: 0.75;
  height: 70vh;
}

form {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 10%;
}

a {
  text-decoration: none;
  color: #00205d;
  font-size: 1.5rem;
}

.logo {
  font-size: 3rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #ff9a89;
  margin-top: 5%;
}

.quiz-display {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

/* Styling applied to all button elements*/
.default-button {
  background-color: #5e77c2;
  color: #faf9f6;
  border-color: #00205d;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 2%;
  font-weight: bolder;
  font-size: 16px;
  font-family: "Roboto", Verdana, sans-serif;
  align-self: center;
}

/* Indicate to the user which button they are about to select */
.default-button:hover {
  background-color: #00205d;
}

/* Centering text inside of answer button divs */
.answer-button {
  display: flex;
  justify-content: center;
  width: 80vw;
}

/* Styling for Quit and Pass button */
.quit-buttons {
  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
}

/* Changes answer button when user makes right choice */
.correct-answer {
  background-color: #7ca86a;
}

/* Changes colour of answer button when user chooses incorrect answer */
.incorrect-answer {
  background-color: #8f3838;
}

/* Overriding default-button: hover when the user selects an answer */
.correct-answer:hover {
  background-color: #7ca86a;
}

/* Overriding default-button: hover when the user selects an answer */
.incorrect-answer:hover {
  background-color: #8f3838;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Class used to hide sections from user */
.hidden {
  display: none;
}

#question-area-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Increase size of username text field */
#username {
  font-size: 16px;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .quiz-display {
    font-size: 1.75rem;
    align-items: center;
  }

  /* Increasing button sizes on larger screens */
  .answer-button {
    height: 50px;
    width: 200px;
    align-items: center;
  }

  /* Increasing font size on larger screens*/
  #question-text {
    width: 30vw;
  }
  /* Display questions and answers side by side to make use of extra screen space */
  #question-area-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
