/* Importing typefaces */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto+Slab:wght@400;500;600&display=swap");

/* Wildcard selector to override default browser styling */
* {
  padding: 0;
  margin: 0;
}

/* Setting default styling */
body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  font-family: "Assistant", sans-serif;
  background-color: #5e77c2;
}

header {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.logo {
  font-size: 3rem;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  color: #ff9a89;
  margin-top: 5%;
}

.quiz-display {
  background-color: #faf9f6;
  color: #00205d;
  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
  font-family: "Roboto", Verdana, sans-serif;
}

.default-button {
  background-color: #5e77c2;
  color: #faf9f6;
  border-color: #00205d;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 2%;
  font-weight: bolder;
}

.default-button:hover {
  background-color: #00205d;
}

.footer {
  color: #ff9a89;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-brands {
  font-size: 1.5rem;
  text-decoration: none;
}

.hidden {
    display: none;
}

#question-area {
  display: flex;
  flex-direction: column;
}
